<body id="reportsPage">

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="text-white mt-5 mb-5">

            </div>
        </div>
        <!-- row -->
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h1 class="tm-block-title">Orders List</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">DATE</th>
                            <th scope="col">USER NAME</th>
                            <th scope="col">ADDRESS</th>
                            <th scope="col">PRICE</th>

                            <th scope="col">PRODUCT</th>
                            <th scope="col">Paymentmethod</th>
                            <th scope="col">OrderStatus</th>
                        </tr>
                    </thead>
                    {{#each orders}}
                    <tbody>

                        <tr>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>{{this.date}}
                            </td>
                            <td><b>{{this.Name}} </b></td>
                            <td><b>{{deliveryDetails.address}} </b></td>
                            <td><b>{{this.totalAmount}} </b></td>
                            <td><a href="/admin/product-details/{{this._id}} " class="btn btn-primary">details</a> </td>
                            <td>{{this.paymentmethod}} </td>
                            
                            <td>
                                {{#if this.Delivered}}
                            <a class="btn btn-success">delivered</a>
                            {{else}}
                            {{#if this.cancelled}}
                            <a class="btn btn-danger">cancelled</a>
                            {{else}}
                                <select name="order-status" onchange="deliveryStatus(value,'{{this._id}}')">
                                    <option value="{{this.status}}" selected disabled>{{this.status}}</option>
                                    <option value="cancelled">Cancel</option>
                                    <option value="shiped">Shiped</option>
                                    <option value="delivered">Delivered</option>
                                </select>
                            </td>
                            {{/if}}
                            {{/if}}

                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    </div>

    <script>
        function deliveryStatus(value, orderId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to change status!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/admin/statusUpdate',
                        method: 'post',
                        data: {
                            status: value,
                            orderId: orderId
                        },
                        success: (response) => {
                            if (response) {
                                Swal.fire(
                                    'status updated',
                                    'Your file has been deleted.',
                                    'success'
                                )


                                location.reload()
                            }
                        }
                    })


                }
            })

        }
    </script>