<section>
    <div class="container">
       <div class="container mt-4 ">
            <a href="/admin/add-product " class="btn btn-danger mb-3 float-end">Add Product +</a>
        </div>

        <table class="table ">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">off.price</th>
       <th scope="col">org.price</th>
      <th scope="col">Image</th>
      <th scope="col">action</th>
      
      
    </tr>
  </thead>
  <tbody>
      {{#each products}}

    <tr>
      <th scope="row">{{inc @index}}</th>
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Description}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.originalPrice}}</td>
      
      <td><img style="width: 50px;height:50px;" src="/product-images/{{this._id}}.jpg" alt="" ></td>
      <td>
        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary " style="margin-bottom:4px ;" >Edit  **</a>
      
        <a  onclick="deleteProduct('{{this._id}}')" class="btn btn-danger" >Delete</a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
<script>
    var options = {
        width: 400,
        height: 400,
        zoomWidth: 400,
        offset: {vertical: 0,horizontal: 10},
        scale: .7
    }

    new ImageZoom(document.getElementById("img-container"), options)
</script>

<script>
  function deleteProduct(proId) {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "delete-product/" + proId,
          method: "get",
          success: (response) => {
            if (response.status) {
              Swal.fire(
                "Deleted!",
                "Your product has been deleted.",
                "success"
              ).then((result) => {
                if (result.isConfirmed) {
                  location.reload()
                }
              });
            }
          },
        });
      }
    });
  }
</script>